/* optional scoped styles for the component *//* optional scoped styles for the component *//* optional scoped styles for the component *//* optional scoped styles for the component */.loading {
  display: none;
  padding: 1.618rem;
  margin-bottom: 1.618em;
  color: black;
  background-color: orangered;
}
*[data-loading="true"] .loading {
  display: block;
}