* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
}
* + *:not(body) {
  --margin: 1.61rem;
  margin-top: var(--margin);
}

img {
  display: block;
}
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

li {
  list-style-position: inside;
}

pre {
  overflow-x: auto;
}

h1 + h2,
h1 + h3,
h2 + h1,
h2 + h3,
h3 + h1,
h3 + h2
{
  margin-top: initial;
}

li + li {
  margin-top: calc(var(--margin) / 2);
}