:root {
  --padding: 1.62rem;
  --margin: 1.62rem;
}
* {
  color: var(--color);
}
button {
  --padding: 1rem;
  --border: 1px solid var(--color);
  --border-radius: 4px;
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}
hr {
  border: 0;
  border-top: 1px solid var(--color);
}
/* PAGE THEMES ---------------------------------- */
.page--day-theme {
  --page-color:  hsl(25, 10%, 10%);
  --page-background-color: hsl(25, 10%, 90%);
  --page-background: linear-gradient(hsl(25, 10%, 90%), hsl(25, 10%, 80%));
  --color: black;
  --background-color: white;
}
.page--night-theme {
  --page-color: hsl(225, 10%, 95%);
  --page-background-color:hsl(225, 10%, 10%);
  --page-background: linear-gradient(hsl(225, 10%, 20%), hsl(225, 10%, 10%));
  --color: white;
  --background-color: black;
  
}
.page {
  --color: var(--page-color);
  --inverted-color: var(--background-color);
  --inverted-background-color: var(--color);
  background: var(--page-background);
  background-color: var(--page-background-color);
}

/* BOX ---------------------------------- */

.box,
.boxes > * {
  list-style: none;
  padding: var(--padding);
  background: var(--background);
  background-color: var(--background-color);
}
.box--inverted {
  --color: var(--inverted-color);
  --background-color: var(--inverted-background-color);
}

.box--safe-text {
  --text-shadow-color: var(--background-color);
  text-shadow:
    0px 1px 2px var(--text-shadow-color),
    0 0   1rem var(--text-shadow-color),
    0 0 0.2rem var(--text-shadow-color);
}

.box--extra-safe-text,
.box--extra-safe-texts > * {
  /* TODO  IMPLEMENT BACKGROUND VARIABLE  in --background-theme!!!!! */
  padding: var(--padding);
  background: initial;
  background-color: var(--background-color);
}


.safe-texts > .flex {
  padding: initial;
  --background-color: initial;
}

/* OUTLINE ---------------------------------- */

.outline,
.outlines > * {
  outline: 1px dashed var(--color);
}

/* FLEX ---------------------------------- */
.flex {
  display: flex;
  flex-direction: column;
}
.flex-direction--column {
  flex-direction: column;
}
.flex-direction--row {
  list-style: none;
  flex-direction: row;
}
.flex-direction--row *:not(:first-child) {
  margin-top: initial;
  margin-left: var(--margin);
}
/* justify-content ---------------------------------- */

.justify-content--center {
  justify-content: center;
}
.justify-content--start {
  justify-content: start;
}
.justify-content--end {
  justify-content: end;
}
.justify-content--flex-start {
  justify-content: flex-start;
}
.justify-content--flex-end {
  justify-content: flex-end;
}
.justify-content--left {
  justify-content: left;
}
.justify-content--right {
  justify-content: right;
}
.justify-content--normal {
  justify-content: normal;
}
.justify-content--space-between {
  justify-content: space-between;
}
.justify-content--space-evenly {
  justify-content: space-evenly;
}
.justify-content--space-around {
  justify-content: space-around;
}
.justify-content--stretch {
  justify-content: stretch;
}

/* align-items ---------------------------------- */

.align-items--center {
  align-items: center;
}
.align-items--flex-start {
  align-items: flex-start;
}
.align-items--flex-end {
  align-items: flex-end;
}
.align-items--stretch {
  align-items: stretch;
}
