html, body {
  min-height: 100%;
}

/* ROOT/FALLBACK VARIABLES ---------------------------------- */
:root {
  --color: black;
  --box-shadow-color: hsla(25, 10%, 10%, 0.5);
  
  --border-width: 2px;
  --border-style: none;
  --border-color: black;
  
  --button-border-radius: 0.25rem;
  --button-padding: 1rem;

  --outline-width: 0.25rem;
  --outline-style: dashed;
  --outline-color:grey;
  --outline-offset: 0.25rem;

  --padding: 1.62rem;
  
  --margin: 1.62rem;
}
* {
  color: var(--color);
}

*:focus {
  outline-width: var(--outline-width);
  outline-style: var(--outline-style);
  outline-color: var(--outline-color);
  outline-offset: var(--outline-offset);
}
/* PAGE THEMES ---------------------------------- */
.page,
.page-theme--light {
  --page-color:  hsl(25, 10%, 10%);
  --page-background-color: hsl(25, 10%, 90%);
  --page-background: linear-gradient(hsl(25, 10%, 90%), hsl(25, 10%, 80%));

  --color: black;
  --border-color: var(--color);
  --background-color: white;
  --box-shadow-color: hsla(25, 10%, 10%, 0.5);
  --box-shadow-ambient-color: hsla(25, 10%, 90%, 0.5);
}
.page-theme--dark {
  --page-color: hsl(225, 10%, 95%);
  --page-background-color:hsl(225, 5%, 10%);
  --page-background: linear-gradient(hsl(225, 5%, 20%), hsl(225, 5%, 10%));
  
  --color: white;
  --border-color: var(--color);
  --background-color: hsl(225, 5%, 12%);
  --box-shadow-color: hsla(225, 10%, 0%, 0.5);
  --box-shadow-ambient-color: hsla(225, 10%, 10%, 0.5);
}
.page {
  --color: var(--page-color);
  --inverted-color: var(--background-color);
  --inverted-background-color: var(--color);
  background: var(--page-background);
  background-color: var(--page-background-color);
}
/* BOX ---------------------------------- */
.box,
.boxes > * {
  padding: var(--padding);
  
  background: var(--background);
  background-color: var(--background-color);

  border-width: var(--border-width);
  border-color: var(--border-color);
  border-style: var(--border-style);
  border-radius: var(--border-radius);

  --box-shadow-offset-x: 0;
  --box-shadow-offset-y: 1px;
  --box-shadow-blur-radius: 3px;
  --box-shadow-spread-radius: 0;

  --box-shadow-ambient-offset-x: 0;
  --box-shadow-ambient-offset-y: 1px;
  --box-shadow-ambient-blur-radius: 3px;
  --box-shadow-ambient-spread-radius: 0;
  --box-shadow-ambient-color: var(--background-color);

  box-shadow: 
    /* direct-shadow */ var(--box-shadow-offset-x)
      var(--box-shadow-offset-y) var(--box-shadow-blur-radius)
      var(--box-shadow-spread-radius) var(--box-shadow-color),

    /* ambient shadow */ var(--box-shadow-ambient-offset-x)
      var(--box-shadow-ambient-offset-y) var(--box-shadow-ambient-blur-radius)
      var(--box-shadow-ambient-spread-radius) var(--box-shadow-ambient-color);

}
.box--inverted,
.boxes--inverted > * {
  --color: var(--inverted-color);
  --background-color: var(--inverted-background-color);
}

/* BORDER ---------------------------------- */
.border,
.borders > * {
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
}
.border-radius,
.borders-radius > * {
  border-radius: var(--border-radius);
}
.border--outset,
.borders--outset > * {
  --margin-left: calc(var(--border-width) * -1);
  --margin-right: calc(var(--border-width) * -1);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}
/* OUTLINE ---------------------------------- */
.outline,
.outlines > * {
  outline-width: var(--outline-width);
  outline-style: var(--outline-style);
  outline-color: var(--outline-color);
  outline-offset: var(--outline-offset);
}
/* ========================================= */
/* text-shadow  */

.safe-text,
.text-shadow.safe-text {
  --text-shadow-color: var(--background-color);
  text-shadow:
    0px 1px 2px var(--text-shadow-color),
    0 0   1rem var(--text-shadow-color),
    0 0 0.2rem var(--text-shadow-color);
}
.safe-text--extra,
.safe-texts--extra > * {
  /* TODO  IMPLEMENT BACKGROUND VARIABLE  in --background-theme!!!!! */
  padding: var(--padding);
  background: initial;
  background-color: var(--background-color);
}

/* ========================================= */
/* text-shadow  */
.text-shadow {
  text-shadow:
    0px 1px 2px var(--text-shadow-color);
}
.text-shadow--glow {
    text-shadow:
      0px 1px 2px var(--text-shadow-color),
      0 0   1rem var(--text-shadow-color),
      0 0 0.2rem var(--text-shadow-color);
}


/* ========================================= */
/* box-shadows  */

[class*="box-shadow"] {

  /* 
    
  to create realsitic shadows, we need two shadows:

  1. Cast by direct light -> neutral grey
  2. Cast by ambient light -> box background color
  
  */

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --box-shadow-offset-x: 0;
  --box-shadow-offset-y: 1px;
  --box-shadow-blur-radius: 3px;
  --box-shadow-spread-radius: 0;

  --box-shadow-ambient-offset-x: 0;
  --box-shadow-ambient-offset-y: 1px;
  --box-shadow-ambient-blur-radius: 3px;
  --box-shadow-ambient-spread-radius: 0;
  /* --box-shadow-ambient-color: var(--background-color); */

  /* this is the background-color with new alpha value! */

  box-shadow: 
    /* direct-shadow */ var(--box-shadow-offset-x)
      var(--box-shadow-offset-y) var(--box-shadow-blur-radius)
      var(--box-shadow-spread-radius) var(--box-shadow-color),

    /* ambient shadow */ var(--box-shadow-ambient-offset-x)
      var(--box-shadow-ambient-offset-y) var(--box-shadow-ambient-blur-radius)
      var(--box-shadow-ambient-spread-radius) var(--box-shadow-ambient-color);
}
.box-shadow--inset {
  box-shadow: 
    /* direct-shadow */ inset var(--box-shadow-offset-x)
      var(--box-shadow-offset-y) var(--box-shadow-blur-radius)
      var(--box-shadow-spread-radius) var(--box-shadow-color),

    /* ambient shadow */ inset var(--box-shadow-ambient-offset-x)
      var(--box-shadow-ambient-offset-y) var(--box-shadow-ambient-blur-radius)
      var(--box-shadow-ambient-spread-radius) var(--box-shadow-ambient-color);
}

/* Direct Light Settings */

/* .box-shadow-theme--level-1 {
  --box-shadow-offset-y: 1px;
  --box-shadow-blur-radius: 3px;
}
.box-shadow-theme--level-2 {
  --box-shadow-offset-y: 4px;
  --box-shadow-blur-radius: 11px;
}
.box-shadow-theme--level-3 {
  --box-shadow-offset-y: 7px;
  --box-shadow-blur-radius: 19px;
}
.box-shadow-theme--level-4 {
  --box-shadow-offset-y: 11px;
  --box-shadow-blur-radius: 27px;
}
.box-shadow-theme--level-5 {
  --box-shadow-offset-y: 15px;
  --box-shadow-blur-radius: 35px;
} */

/* Ambient Settings */

/* .box-shadow-theme--level-1 {
  --box-shadow-ambient-offset-y: 1px;
  --box-shadow-ambient-blur-radius: 2px;
}
.box-shadow-theme--level-2 {
  --box-shadow-ambient-offset-y: 2px;
  --box-shadow-ambient-blur-radius: 4px;
}
.box-shadow-theme--level-3 {
  --box-shadow-ambient-offset-y: 3px;
  --box-shadow-ambient-blur-radius: 7px;
}
.box-shadow-theme--level-4 {
  --box-shadow-ambient-offset-y: 4px;
  --box-shadow-ambient-blur-radius: 9px;
}
.box-shadow-theme--level-5 {
  --box-shadow-ambient-offset-y: 4px;
  --box-shadow-ambient-blur-radius: 11px;
} */



/* =============================================== */
/* FLEX */

.flex {
  display: flex;
  flex-direction: column;
}
.flex-direction--column {
  flex-direction: column;
}
.flex-direction--row {
  list-style: none;
  flex-direction: row;
}
.flex-direction--row *:not(:first-child) {
  margin-top: initial;
  margin-left: var(--margin);
}
/* justify-content ---------------------------------- */

.justify-content--center {
  justify-content: center;
}
.justify-content--start {
  justify-content: start;
}
.justify-content--end {
  justify-content: end;
}
.justify-content--flex-start {
  justify-content: flex-start;
}
.justify-content--flex-end {
  justify-content: flex-end;
}
.justify-content--left {
  justify-content: left;
}
.justify-content--right {
  justify-content: right;
}
.justify-content--normal {
  justify-content: normal;
}
.justify-content--space-between {
  justify-content: space-between;
}
.justify-content--space-evenly {
  justify-content: space-evenly;
}
.justify-content--space-around {
  justify-content: space-around;
}
.justify-content--stretch {
  justify-content: stretch;
}

/* align-items ---------------------------------- */

.align-items--center {
  align-items: center;
}
.align-items--flex-start {
  align-items: flex-start;
}
.align-items--flex-end {
  align-items: flex-end;
}
.align-items--stretch {
  align-items: stretch;
}



/* =============================================== */
/* DEFAULT STYLES */

/* headlines ---------------------------------- */

:root {
  --root-font-size: 1rem;
}
:root {
  --size-7: 4.75; 
  --size-6: 3.75; 
  --size-5: 3; 
  --size-4: 2.5; 
  --size-3: 2; 
  --size-2: 1.5; 
  --size-1: 1.25; 
  --size-0: 1; /* Default */
  --size--1: 0.8125; 
  --size--2: 0.625; 
  --size--3: 0.5; 
  --size--4: 0.375; 
}

h1, h2, h3, h4, h5, h6 {
  --font-size-factor: var(--size-0);
  --font-size: calc( var(--root-font-size) * var(--font-size-factor));
  font-size: var(--font-size);
}

h1 {
  --font-size-factor: var(--size-5);
}
h2 {
  --font-size-factor: var(--size-4);
}
h3 {
  --font-size-factor: var(--size-3);
}
h4 {
  --font-size-factor: var(--size-2);
}
h5 {
  --font-size-factor: var(--size-1);
}
h6 {
  --font-size-factor: var(--size-0);
}

/* buttons ---------------------------------- */

 button,
.button {
  --padding: var(--button-padding, 1rem);
  --background: transparent;
  --border-color: transparent;

  cursor: pointer;

  padding: var(--padding);
  
  background: var(--background);
  background-color: var(--background-color);
  
  border-width:  var(--border-width);
  border-color:  var(--border-color);
  border-style:  var(--border-style);
  border-radius: var(--border-radius);

  --box-shadow-offset-x: 0;
  --box-shadow-offset-y: 1px;
  --box-shadow-blur-radius: 3px;
  --box-shadow-spread-radius: 0;

  --box-shadow-ambient-offset-x: 0;
  --box-shadow-ambient-offset-y: 1px;
  --box-shadow-ambient-blur-radius: 3px;
  --box-shadow-ambient-spread-radius: 0;
  --box-shadow-ambient-color: var(--background-color);

  box-shadow: 
    /* direct-shadow */ var(--box-shadow-offset-x)
      var(--box-shadow-offset-y) var(--box-shadow-blur-radius)
      var(--box-shadow-spread-radius) var(--box-shadow-color),

    /* ambient shadow */ var(--box-shadow-ambient-offset-x)
      var(--box-shadow-ambient-offset-y) var(--box-shadow-ambient-blur-radius)
      var(--box-shadow-ambient-spread-radius) var(--box-shadow-ambient-color);
    
  transition-property: transform;
  transition-duration: 0.5s;
}
 button:hover,
.button:hover {
  transform: scale(1.05);
}
a.button {
  display: inline-block;
  text-decoration: none;
}



.button--primary {
  color: var(--inverted-color);
  background-color: var(--inverted-background-color);
  border-color: var(--inverted-background-color);
}
.button--secondary {
  color: var(--color);
  background-color: var(--background-color);
  border-color: var(--background-color);
}
.button--tertiary {
  color: var(--color);
  background-color: var(--background-color);
  background-color: transparent;
  border-color: transparent;
  box-shadow: initial;
}


/* hrs ---------------------------------- */

hr {
  border: 0;
  border-top-width: var(--border-width);
  border-top-style: var(--border-style);
  border-top-color: var(--border-color);
}