:root {
  --root-font-size: 1rem;
}
:root {
  --size-7: 4.75; 
  --size-6: 3.75; 
  --size-5: 3; 
  --size-4: 2.5; 
  --size-3: 2; 
  --size-2: 1.5; 
  --size-1: 1.25; 
  --size-0: 1; /* Default */
  --size--1: 0.8125; 
  --size--2: 0.625; 
  --size--3: 0.5; 
  --size--4: 0.375; 
}

h1, h2, h3, h4, h5, h6 {
  --font-size-factor: var(--size-0);
  --font-size: calc( var(--root-font-size) * var(--font-size-factor));
  font-size: var(--font-size);
}

h1 {
  --font-size-factor: var(--size-5);
}
h2 {
  --font-size-factor: var(--size-4);
}
h3 {
  --font-size-factor: var(--size-3);
}
h4 {
  --font-size-factor: var(--size-2);
}
h5 {
  --font-size-factor: var(--size-1);
}
h6 {
  --font-size-factor: var(--size-0);
}
