/* =============================================== */
/* FLEX */

.flex {
  display: flex;
  flex-direction: column;
}
.flex-direction--column {
  flex-direction: column;
}
.flex-direction--row {
  list-style: none;
  flex-direction: row;
}
.flex-direction--row *:not(:first-child) {
  margin-top: initial;
  margin-left: var(--margin);
}
/* justify-content ---------------------------------- */

.justify-content--center {
  justify-content: center;
}
.justify-content--start {
  justify-content: start;
}
.justify-content--end {
  justify-content: end;
}
.justify-content--flex-start {
  justify-content: flex-start;
}
.justify-content--flex-end {
  justify-content: flex-end;
}
.justify-content--left {
  justify-content: left;
}
.justify-content--right {
  justify-content: right;
}
.justify-content--normal {
  justify-content: normal;
}
.justify-content--space-between {
  justify-content: space-between;
}
.justify-content--space-evenly {
  justify-content: space-evenly;
}
.justify-content--space-around {
  justify-content: space-around;
}
.justify-content--stretch {
  justify-content: stretch;
}

/* align-items ---------------------------------- */

.align-items--center {
  align-items: center;
}
.align-items--flex-start {
  align-items: flex-start;
}
.align-items--flex-end {
  align-items: flex-end;
}
.align-items--stretch {
  align-items: stretch;
}