html, body {
  min-height: 100%;
}

/* ROOT/FALLBACK VARIABLES ---------------------------------- */
:root {
  --color: black;
  --box-shadow-color: hsla(25, 10%, 10%, 0.5);
  
  --button-border-radius: 0.25rem;
  --button-padding: 1rem;

  --padding: 1.62rem;
  
  --margin: 1.62rem;
}
* {
  color: var(--color, inital);
  background: var(--background, initial); 
  background-color: var(--background-color, initial); 
  
  border-color: var(--border-color, initial); 
  border-width: var(--border-width, initial); 
  border-style: var(--border-style, initial); 
  /* TODO: Check if this is a good idea! */
}

.page > *,
.box > *,
.boxes > * {
  --background: initial;
  --border-style: initial;
  --background-color: initial;
}


/* PAGE THEMES ---------------------------------- */
/* .page,
.page-theme--light {
  --page-color:  hsl(25, 10%, 10%);
  --page-background-color: hsl(25, 10%, 90%);
  --page-background: linear-gradient(hsl(25, 10%, 90%), hsl(25, 10%, 80%));

  --color: black;
  --border-color: var(--color);
  --background-color: white;
  --box-shadow-color: hsla(25, 10%, 10%, 0.5);
  --box-shadow-ambient-color: hsla(25, 10%, 90%, 0.5);
}
.page-theme--dark {
  --page-color: hsl(225, 10%, 95%);
  --page-background-color:hsl(225, 5%, 10%);
  --page-background: linear-gradient(hsl(225, 5%, 20%), hsl(225, 5%, 10%));
  
  --color: white;
  --border-color: var(--color);
  --background-color: hsl(225, 5%, 12%);
  --box-shadow-color: hsla(225, 10%, 0%, 0.5);
  --box-shadow-ambient-color: hsla(225, 10%, 10%, 0.5);
}
.page {
  --color: var(--page-color);
  --inverted-color: var(--background-color);
  --inverted-background-color: var(--color);
  background: var(--page-background);
  background-color: var(--page-background-color);
} */
/* BOX ---------------------------------- */
.box,
.boxes > * {
  padding: var(--padding);
  
  background: var(--background);
  background-color: var(--background-color);

  border-width: var(--border-width);
  border-color: var(--border-color);
  border-style: var(--border-style);
  border-radius: var(--border-radius);

  --box-shadow-offset-x: 0;
  --box-shadow-offset-y: 1px;
  --box-shadow-blur-radius: 3px;
  --box-shadow-spread-radius: 0;

  --box-shadow-ambient-offset-x: 0;
  --box-shadow-ambient-offset-y: 1px;
  --box-shadow-ambient-blur-radius: 3px;
  --box-shadow-ambient-spread-radius: 0;
  --box-shadow-ambient-color: var(--background-color);

  box-shadow: 
    /* direct-shadow */ var(--box-shadow-offset-x)
      var(--box-shadow-offset-y) var(--box-shadow-blur-radius)
      var(--box-shadow-spread-radius) var(--box-shadow-color),

    /* ambient shadow */ var(--box-shadow-ambient-offset-x)
      var(--box-shadow-ambient-offset-y) var(--box-shadow-ambient-blur-radius)
      var(--box-shadow-ambient-spread-radius) var(--box-shadow-ambient-color);

}
.box--inverted,
.boxes--inverted > * {
  --color: var(--inverted-color);
  --background-color: var(--inverted-background-color);
}



/* BORDER ---------------------------------- */
.border,
.borders > * {
  border-width: var(--border-width, 2px);
  border-style: var(--border-style, solid);
  border-color: var(--border-color, var(--color, black));
  border-radius: var(--border-radius);
}
.border-radius,
.borders-radius > * {
  border-radius: var(--border-radius);
}
.border--outset,
.borders--outset > * {
  --margin-left: calc(var(--border-width) * -1);
  --margin-right: calc(var(--border-width) * -1);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}
/* OUTLINE ---------------------------------- */
.outline,
.outlines > *,
*:focus {
  outline-width:  var(--outline-width, 2px);
  outline-style:  var(--outline-style, dashed);
  outline-color:  var(--outline-color, black);
  outline-offset: var(--outline-offset, 2px);
}
/* ========================================= */
/* text-shadow  */

.safe-text,
.text-shadow.safe-text {
  --text-shadow-color: var(--background-color);
  text-shadow:
    0px 1px 2px var(--text-shadow-color),
    0 0   1rem var(--text-shadow-color),
    0 0 0.2rem var(--text-shadow-color);
}
.safe-text--extra,
.safe-texts--extra > * {
  /* TODO  IMPLEMENT BACKGROUND VARIABLE  in --background-theme!!!!! */
  padding: var(--padding);
  background: initial;
  background-color: var(--background-color);
}

/* ========================================= */
/* text-shadow  */
.text-shadow {
  text-shadow:
    0px 1px 2px var(--text-shadow-color);
}
.text-shadow--glow {
    text-shadow:
      0px 1px 2px var(--text-shadow-color),
      0 0   1rem var(--text-shadow-color),
      0 0 0.2rem var(--text-shadow-color);
}


/* ========================================= */
/* box-shadows  */

[class*="box-shadow"] {

  /* 
    
  to create realsitic shadows, we need two shadows:

  1. Cast by direct light -> neutral grey
  2. Cast by ambient light -> box background color
  
  */

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --box-shadow-offset-x: 0;
  --box-shadow-offset-y: 1px;
  --box-shadow-blur-radius: 3px;
  --box-shadow-spread-radius: 0;

  --box-shadow-ambient-offset-x: 0;
  --box-shadow-ambient-offset-y: 1px;
  --box-shadow-ambient-blur-radius: 3px;
  --box-shadow-ambient-spread-radius: 0;
  /* --box-shadow-ambient-color: var(--background-color); */

  /* this is the background-color with new alpha value! */

  box-shadow: 
    /* direct-shadow */ var(--box-shadow-offset-x)
      var(--box-shadow-offset-y) var(--box-shadow-blur-radius)
      var(--box-shadow-spread-radius) var(--box-shadow-color),

    /* ambient shadow */ var(--box-shadow-ambient-offset-x)
      var(--box-shadow-ambient-offset-y) var(--box-shadow-ambient-blur-radius)
      var(--box-shadow-ambient-spread-radius) var(--box-shadow-ambient-color);
}
.box-shadow--inset {
  box-shadow: 
    /* direct-shadow */ inset var(--box-shadow-offset-x)
      var(--box-shadow-offset-y) var(--box-shadow-blur-radius)
      var(--box-shadow-spread-radius) var(--box-shadow-color),

    /* ambient shadow */ inset var(--box-shadow-ambient-offset-x)
      var(--box-shadow-ambient-offset-y) var(--box-shadow-ambient-blur-radius)
      var(--box-shadow-ambient-spread-radius) var(--box-shadow-ambient-color);
}

/* Direct Light Settings */

/* .box-shadow-theme--level-1 {
  --box-shadow-offset-y: 1px;
  --box-shadow-blur-radius: 3px;
}
.box-shadow-theme--level-2 {
  --box-shadow-offset-y: 4px;
  --box-shadow-blur-radius: 11px;
}
.box-shadow-theme--level-3 {
  --box-shadow-offset-y: 7px;
  --box-shadow-blur-radius: 19px;
}
.box-shadow-theme--level-4 {
  --box-shadow-offset-y: 11px;
  --box-shadow-blur-radius: 27px;
}
.box-shadow-theme--level-5 {
  --box-shadow-offset-y: 15px;
  --box-shadow-blur-radius: 35px;
} */

/* Ambient Settings */

/* .box-shadow-theme--level-1 {
  --box-shadow-ambient-offset-y: 1px;
  --box-shadow-ambient-blur-radius: 2px;
}
.box-shadow-theme--level-2 {
  --box-shadow-ambient-offset-y: 2px;
  --box-shadow-ambient-blur-radius: 4px;
}
.box-shadow-theme--level-3 {
  --box-shadow-ambient-offset-y: 3px;
  --box-shadow-ambient-blur-radius: 7px;
}
.box-shadow-theme--level-4 {
  --box-shadow-ambient-offset-y: 4px;
  --box-shadow-ambient-blur-radius: 9px;
}
.box-shadow-theme--level-5 {
  --box-shadow-ambient-offset-y: 4px;
  --box-shadow-ambient-blur-radius: 11px;
} */




/* buttons ---------------------------------- */

 button,
.button {
  --padding: var(--button-padding, 1rem);
  --background: transparent;
  --border-color: transparent;

  cursor: pointer;

  padding: var(--padding);
  
  background: var(--background);
  background-color: var(--background-color);
  
  border-width:  var(--border-width);
  border-color:  var(--border-color);
  border-style:  var(--border-style);
  border-radius: var(--border-radius);

  --box-shadow-offset-x: 0;
  --box-shadow-offset-y: 1px;
  --box-shadow-blur-radius: 3px;
  --box-shadow-spread-radius: 0;

  --box-shadow-ambient-offset-x: 0;
  --box-shadow-ambient-offset-y: 1px;
  --box-shadow-ambient-blur-radius: 3px;
  --box-shadow-ambient-spread-radius: 0;
  --box-shadow-ambient-color: var(--background-color);

  box-shadow: 
    /* direct-shadow */ var(--box-shadow-offset-x)
      var(--box-shadow-offset-y) var(--box-shadow-blur-radius)
      var(--box-shadow-spread-radius) var(--box-shadow-color),

    /* ambient shadow */ var(--box-shadow-ambient-offset-x)
      var(--box-shadow-ambient-offset-y) var(--box-shadow-ambient-blur-radius)
      var(--box-shadow-ambient-spread-radius) var(--box-shadow-ambient-color);
    
  transition-property: transform;
  transition-duration: 0.5s;
}
 button:hover,
.button:hover {
  transform: scale(1.05);
}
a.button {
  display: inline-block;
  text-decoration: none;
}
.button--primary {
  color: var(--inverted-color);
  background-color: var(--inverted-background-color);
  border-color: var(--inverted-background-color);
}
.button--secondary {
  color: var(--color);
  background-color: var(--background-color);
  border-color: var(--background-color);
}
.button--tertiary {
  color: var(--color);
  background-color: var(--background-color);
  background-color: transparent;
  border-color: transparent;
  box-shadow: initial;
}


/* hrs ---------------------------------- */

hr {
  border: 0;
  border-top-width: var(--border-width);
  border-top-style: var(--border-style);
  border-top-color: var(--border-color);
}